<!-- create stylesheet dynamically -->
<script type="text/javascript">
    const styles = document.createElement("link");
    styles.type = "text/css";
    styles.rel = "stylesheet";
    styles.media = "screen,print";
    styles.href = "./styles.scss";
    document.head.appendChild(styles);
</script>
