<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Virtualized Grid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style type="text/css">
        body {
            box-sizing: border-box;
            margin: 0;
            width: 100vw;
            height: 100vh;
            font-size: 13px;
            font-family: sans-serif;
            background-color: cornflowerblue;
        }
    </style>
    <script type="module" src="https://unpkg.com/construct-style-sheets-polyfill" async></script>
</head>
<body style="padding: 48px;">
<sleek-grid></sleek-grid>
<script type="module" src="../lib/index.js"></script>
<script type="module">

    window.grid = document.querySelector("sleek-grid");

    fetch("./MOCK_DATA.json").then(async function (result) {

        const data = await result.json();

        // name -> object field
        // number -> index in array row

        const columns = [
            {label:"Id", name: "id", width: 150},
            {label:"First_name", name: "first_name", width: 150},
            {label:"Last_name", name: "last_name", width: 150},
            {label:"Email", name: "email", width: 150},
            {label:"Gender", name: "gender", width: 150},
            {label:"Ip_address", name: "ip_address", width: 150},
            {label:"Buzzword", name: "buzzword", width: 150},
            {label:"Pet", name: "pet", width: 150},
            {label:"City", name: "city", width: 150},
            {label:"Car_make", name: "car_make", width: 150},
            {label:"Car_vin", name: "car_vin", width: 150},
            {label:"Color", name: "color", width: 150},
            {label:"Product", name: "product", width: 150},
            {label:"Company", name: "company", width: 150},
            {label:"Wealth", name: "wealth", width: 150},
            {label:"Race", name: "race", width: 150},
            {label:"Plant", name: "plant", width: 150},
            {label:"Postcode", name: "postcode", width: 150},
            {label:"Phone_number", name: "phone_number", width: 150},
            {label:"Address", name: "address", width: 150},
            {label:"Iban", name: "iban", width: 150},
        ];

        data.forEach((row, index) => {
            row.label = index;
            row.height = 32;
        });

        grid.renderCell = function (column, row) {
            return `<span class="text">${row[column.name]}</span>`
        }

        grid.data = {columns, rows: data};

        // setTimeout(()=>grid.scrollTo(0,1000), 50);
        // setTimeout(()=>grid.scrollTo(500,1000), 100);
        // setTimeout(()=>grid.scrollTo(500,2000), 150);
        // setTimeout(()=>grid.scrollTo(0,3000), 200);
    });

</script>
</body>
</html>
